
html, body
{
    background-color: #ffffff ;
    margin:0;
}

.header {
    background-color:#4A6981;
    padding: 30px 10px;
}

.footer {
    background-color:#4A6981;
    padding: 10px 10px;
}

img {
    
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 30px;
}

#charttitle{
    margin-top: 0;
}

h1 {
    padding-top: 20px;
    padding-bottom: 30px;
   }

p {
    align: center;
    color: #ffffff;
}

.column {
    float: left;
    width: 50%;
    padding: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#dropdown{
  margin-top: .50em;
  margin-bottom: 1.75em;
}

.myImage{
    max-width: 100px;
}

.crypto{
    padding-left: 100px;
    width: 50%;
}

.edit{
    height: 400px;
    padding-left: 50px;
}

.barchart{
    padding-left: 60px;
    padding-right: 60px;
    padding-top:60px;
}


.wrapper{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);

}

 /*  For Chrome*/
::-webkit-input-placeholder{
    color:#023436;
}

